.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px #FF5A5F;
    border-radius: 4px;
}

.places h1 {
    text-align: top;
    text-align: left;
    font-size: 30px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}

.places.a1 {
    
}

.places.a2 {
    
}