.places h1 {
    text-align: left;
    font-size: 30px;
    margin-bottom: 0;
  }
  
  .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid  #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .places article h2 {
    text-align: center;
    font-size: 30px;
    margin: 0 0 65px;
  }
  
  .price_by_night {
    color: #FF5A5F;
    border:solid #FF5A5F 4px;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    position: relative;
    bottom: 105px;
    line-height: 60px;
    text-align: center;
    padding: 5px;
}
  
  .information {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: -15px;
  }
  
  .information div {
    width: 100px;
  }
  
  .information div div {
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  
  .information div p {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .guest-img {
    background-image: url(../images/icon_group.png);
    background-size: cover;
  }
  
  .rooms-img {
    background-image: url(../images/icon_bed.png);
    background-size: cover;
  }
  
  .bathrooms-img {
    background-image: url(../images/icon_bath.png);
    background-size: cover;
  }
  
  .user {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
  
  .description {
    text-align: left;
    height: 155px;
  }

  footer {
    position:absolute;
    bottom: -80%;
  }